div {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-content: center;
  flex-grow: 1;
  margin: 10px;
}

form {
  display: flex;
  justify-content: center;
  gap: 3px;
  flex-direction: column;
}

button {
  display: none;
}

#score-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#human-score,
#computer-score {
  margin: 0;
}
